.vertex {
    width: 50px;
    height: 50px;
    outline: 1px solid #69b9c9;
    display: inline-block;
    border-radius: 10%;
}

.vertex-finish {
    background-color: rgb(233, 77, 77);
}

.vertex-start {
    background-color: rgb(70, 176, 70);
}

.vertex-wall {
    background-color: rgb(12, 53, 71);
}