.vertex {
    width: 40px;
    height: 40px;
    outline: 1px solid rgb(175, 216, 248);
    display: inline-block;
}

.vertex-finish {
    background-color: red;
}

.vertex-start {
    background-color: green;
}

.vertex-wall {
    background-color: rgb(12, 53, 71);
}